#page {
	max-width: 1240px;
	margin: 0px auto;
	background: $bg-color;
	padding: 10px;
}

#top {
	float: none;
	padding-bottom: 2px;
	margin: 0px;
	padding-right: 0px;
	color: black;
	overflow: auto;
	& > div {
		float: right;
		margin-left: 5px;
	}
	#user {
		font-size: 80%;
		float: right;
	}
	#social {
		a:link, a:visited {
			color: $color-accent-1;
			text-decoration: none;
			&:hover {
				color: $color-accent-2;
			}
		}
	}
	#search {
		input {
			height: 20px;
			padding-top: 0px;
			padding-bottom: 0px;
			float: left;
		}
		input[type=text]{
			width: auto;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-right-width: 0px;
		}
		input[type=submit]{
			box-sizing: border-box;
			border: none;
			margin: 0px;
			background-color: $color-accent-1;
			font-weight: bold;
			color: white;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}
}

#title {
	min-height: 100px;
	padding: 10px;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	background-image: url('../img/title_bg.jpg');
	background-position: center;
	background-size: cover;
	img {
		float: left;
		margin-right: 10px;
		height: 100px;
	}
}

#menu {
	border-bottom: $border;
	padding: 0;
	overflow: auto;
	h4 {
		display: none;
	}
	> ul {
		margin: 0px;
		margin-left: 0px;
		padding: 0px;
		> li {
			float: left;
			&:not(:first-child) {
				> a, > span {
				border-width: 0px;
				border-left: 1px solid $color-accent-3;
				border-image: linear-gradient(to bottom, 
					transparent, 
					transparent 15%, #c6d7eb 15%,
					#c6d7eb 85%, transparent 85%
					, transparent) 1;
					
				}
				margin-left: -1px;
			}
		}
		li {
			list-style: none;
			span{
				color: $color-accent-1;
			}
			a:link, a:visited, span {
				font-weight: bold;
				text-decoration: none;
				display: block;
				padding: 6px 20px;
				box-sizing: border-box;
				min-width: 80px;
				text-align: center;
			}
			&.active {
				> a:link, > a:visited {
					color: $color-accent-2;
				}
			}
			.no-touch &:hover, &.hover {
				background: $menu-bg-hover;
			}
			
			ul {
				margin: 0px;
				margin-left: 0px;
				padding: 0px;
				position: absolute;
				transition-property: opacity, visibility;
				transition-duration: 0.25s, 0s;
				transition-delay: 0s, 0.5s;
				opacity: 0;
				 visibility: hidden;
				li {
					float: none;
					background-color: mix($bg-color, $color-accent-3,75%);
					a:link, a:visited {
						width: auto;
						min-width: 100px;
						text-align: left;
						border-bottom: $border;
						border-top-width: 0px;
					}
					&:hover{
						background-color: $menu-bg-hover;
					}
					&:first-child a{
						border-top: $border;
					}
				}
			}
			&.sub {
				> span:before {
					content: '\25BC\0020';
				}
				&.active-child > span {
					color: $color-accent-2;
				}
				.no-touch &:hover, &.hover {
					ul {
						visibility: visible;
						transition-property: visiblity, opacity;
						transition-duration: 0s, 0.25s;
						transition-delay: 0s, 0s;
						opacity: 1; 
					}
				}
			}
		}
	}
}

#notice {
	border: solid 1px $color-accent-1;
	padding: 2px 10px;
	background-color: $color-accent-3;
}

.cols {
	display: flex;
	flex-wrap: wrap;
	clear: both;
	> div {
		flex: 1 1 auto;
	}
}
		
.front{
	.cols {
		margin-top: 10px;
		&.frontblocks {
			margin: 0 -5px;
			> div {
				flex: 1 0 20%;
				padding: 10px;
				background: $table-stripe-bg;
				margin: 10px 5px 0;
				overflow: auto;
				min-height: 200px;
				-webkit-overflow-scrolling: touch;
				.info {
					font-style: italic;
					font-size: 80%;
				}
				.type{
					font-variant: small-caps;
				}
				.time{
					&:before {
						content: " - ";
					}
				}
				&.twitter {
					position: relative;
					iframe {
						position: absolute !important;
						width: calc(100% - 20px) !important;
						height: calc(100% - 20px) !important;
					}
				}
			}
		}
	}
	#mid {
		flex: 2;
		padding: 15px 25px 10px 5px;
		margin-right: 30px;
	}
	#search {
		display: none;
	}
	#right {
		background: $table-stripe-bg;
		padding: 10px;
		flex: 1;
		.cols {
			margin-top: 0px;
			> div {
				white-space: nowrap;
				margin-right: 5px;
				display: inline-block;
			 }
		}
		input[type=submit]{
			width: 100%;
			box-sizing: border-box;
		}
	}
}


.collapsible {
	&:before {
		content: '\25B2\0020';
	}
	&.hidden:before {
		content: '\25BC\0020';
	}
	&:hover {
		color: $color-accent-2;
		cursor: pointer;
	}
}
.list {
	#right {
		display: none;
	}
	#left {
		flex: 1;
		background-color: $table-stripe-bg;
		padding: 10px;
		min-width: 200px;
		div.select {
			background-color: white;
			border: inset 1px white;
			max-height: 200px;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			div {
				font-size: 9pt;
				line-height: 125%;
				padding: 0 2px;
				padding-left: 23px;
				text-indent: -20px;
				&:not(:last-child){
					border-bottom: dotted 1px $color-accent-3;
				}
				&.selected {
					background-color: $color-accent-3;
					border-bottom-color: white;
					&:hover {
						background-color: mix(white, $color-accent-3, 33%);
					}
				}
				&:hover {
					background-color: mix(white, $color-accent-3, 66%);
					cursor: pointer;
				}
			}
		}
		h3 {
			display: none;
			margin-bottom: 0px;
			margin-top: 0px;
			padding-left: 0px;
			cursor: pointer;
			&:before {
				content: '\25BC\0020';
			}
			&:hover {
				color: $color-accent-2;
			}
		}
	}
	#mid {
		flex: 4;
		padding-left: 10px;
		.add {
			float: right;
		}
	}
	&.search #search {
		display:none;
	}
	&.search tr td:first-child {
		font-variant: small-caps;
	}
	&.dataset {
		td:not(:first-child){
			white-space: nowrap;
		}
	}
}
.project, .search {
	td:not(:nth-child(2)){
		white-space: nowrap;
	}
}
.dataset td:not(:first-child){
	white-space: nowrap;
}

.detail{
	#mid {
		flex: 2;
		min-height: 250px;
		padding-right: 10px;
		padding-left: 10px;
		order: 1;
	}
	#right{
		flex: 1;
		border-left: $border;
		background: none;
		padding-left: 10px;
		order: 2;
		max-width: 300px;
		ul {
			margin-top: 0px;
			padding: 0px 15px;
		}
	}
	#left{
		display: none;
	}
}

.page {
	@extend .detail;
	#right {
		font-size: 90%;
	}
}

.contact {
	@extend .page;
	#right {
		max-width: none;
		h3 {
			display: none;
			margin: 0px;
			cursor: pointer;
			&:before {
				content: '\25BC\0020';
			}
			&:hover {
				color: $color-accent-2;
			}
		}
	}
}

#footer {
	text-align: right;
	border-top: $border;
	margin-top: 10px;
	padding: 5px 0 0;
	font-size: 90%;
	overflow: auto;
	.links {
		float: left;
		margin-top: 16px;
	}
	.rechts {
		float: right;
	}
	img{
		max-height: 50px;
		max-width: 50px;
		margin: 0 2px;
		&.nioz{
			vertical-align: -16px;
		}
		&.nwo {
			vertical-align: -2px;
		}
	}
}

#overlay {
	display: none;
    background: rgba(0,0,0,0.75);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 9999;
	.inner {
		top: 10px;
		bottom: 10px;
		left: 0px;
		right: 0px;
		margin: auto;
		width: 80%;
		max-width: 1000px;
		position: absolute;
		background-color: white;
		border-radius: 5px;
		&.box {
			top: 20%;
			bottom: auto;
			max-width: 500px;
			padding: 10px;
			overflow-y: auto !important;
		}
		iframe {
			width: 100%;
			height: 100%;
			border: none;
		}
		body:not(.no-touch) & {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;	
		}
	}
}

.overlay {
		.cols {
		border-bottom: solid 1px $color-accent-3;
		padding-bottom: 10px;
		div {
			padding: 0 10px 120px;
			flex: 1 1 30%;
			position: relative;
			&:not(:first-child){
				border-left: solid 1px $color-accent-3;
			}
			button {
				width: 90%;
				width: calc(100% - 20px);
				height: 50px;
				position: absolute;
				&.add {
					bottom: 60px;
				}
				&.edit {
					bottom: 0px;
				}
			}
		}
	}
	.foot {
		padding: 10px;
		text-align: center;
		button {
			height: 50px;	
		}
	}
}

#tools {
	float: right;
}

.printonly {
	display: none;
}