body {
  margin: 0px;
  padding: 20px 0;
  background: #3b6daa;
  background-position: top center;
  background-size: cover;
  overflow-y: scroll;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #173e69;
  line-height: 150%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1 {
  margin-top: 20px;
  line-height: 90%;
  font-size: 32px;
}

h1 a:link, h1 a:visited, h1 a:active, h1 a:hover {
  color: #3b6daa;
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px 0px 0 #000,   0px -1px 0 #000, 0px 1px 0 #000, 1px 0px 0 #000;
}

h4 {
  margin-bottom: 0px;
  font-size: 100%;
}

h4:first-child {
  margin-top: 0px;
}

p {
  margin-top: 0px;
}

img {
  max-width: 100%;
}

a:link, a:visited {
  color: #3b6daa;
}

a:hover, a:active {
  color: #b71f1c;
}

hr {
  border: none;
  border-top: solid 1px #c6d7eb;
}

.nobr {
  white-space: nowrap;
}

section {
  break-inside: avoid-column;
}

section.inline h4 {
  display: inline-block;
  min-width: 100px;
}

section.inline p {
  display: inline;
}

section.inline h4:after {
  content: ':\00a0';
}

table {
  border-collapse: collapse;
  width: 100%;
  background-image: repeating-linear-gradient(-45deg, #f8f8fe, #f8f8fe 10px, #dfe8f5 10px, #dfe8f5 20px);
}

table thead, table tfoot {
  background: #3b6daa;
  color: white;
  font-weight: bold;
}

table thead tr:first-child td, table tfoot tr:first-child td {
  white-space: nowrap;
}

table tbody tr:nth-child(odd):not(.even), table tbody tr.odd {
  background: #f8f8fe;
}

table tbody tr:nth-child(odd):not(.even).draft, table tbody tr.odd.draft {
  background: rgba(248, 248, 254, 0.5);
}

table tbody tr:nth-child(even):not(.odd), table tbody tr.even {
  background: #dfe8f5;
}

table tbody tr:nth-child(even):not(.odd).draft, table tbody tr.even.draft {
  background: rgba(223, 232, 245, 0.5);
}

table td {
  padding: 1px 3px;
  vertical-align: top;
}

table td a:link, table td a:visited {
  text-decoration: none;
  color: #173e69;
  display: block;
}

table tr.link {
  cursor: pointer;
}

table tr.link:hover td a:link, table tr.link:hover td a:visited {
  text-decoration: underline;
  color: #b71f1c;
}

table.files td:first-child {
  width: 50px;
  vertical-align: middle;
}

.pager {
  overflow: auto;
  clear: both;
}

.pager .hint {
  display: block;
  float: left;
}

.pager .numbers {
  float: right;
}

.pager .page-number {
  text-decoration: underline;
  cursor: pointer;
  padding: 0 5px;
  color: #3b6daa;
}

.pager .page-number.active {
  text-decoration: none;
  font-weight: bold;
}

.pager .page-number:hover {
  color: #b71f1c;
}

.pager .page-number:last-child {
  padding-right: 0px;
}

.pager .old-page-number {
  background-color: #3b6daa;
  color: white;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 0px 5px;
  cursor: pointer;
  border: solid 1px #3b6daa;
}

.pager .old-page-number:hover {
  color: #c6d7eb;
}

.pager .old-page-number:active {
  border-color: white;
}

.pager .old-page-number.active {
  color: #b71f1c;
  background-color: #c6d7eb;
  border-color: #c6d7eb;
}

.pager .old-page-number.active:hover {
  background-color: #3b6daa;
}

#page {
  max-width: 1240px;
  margin: 0px auto;
  background: #f8f8fe;
  padding: 10px;
}

#top {
  float: none;
  padding-bottom: 2px;
  margin: 0px;
  padding-right: 0px;
  color: black;
  overflow: auto;
}

#top > div {
  float: right;
  margin-left: 5px;
}

#top #user {
  font-size: 80%;
  float: right;
}

#top #social a:link, #top #social a:visited {
  color: #3b6daa;
  text-decoration: none;
}

#top #social a:link:hover, #top #social a:visited:hover {
  color: #b71f1c;
}

#top #search input {
  height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
}

#top #search input[type=text] {
  width: auto;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0px;
}

#top #search input[type=submit] {
  box-sizing: border-box;
  border: none;
  margin: 0px;
  background-color: #3b6daa;
  font-weight: bold;
  color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#title {
  min-height: 100px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url("../img/title_bg.jpg");
  background-position: center;
  background-size: cover;
}

#title img {
  float: left;
  margin-right: 10px;
  height: 100px;
}

#menu {
  border-bottom: solid 1px #c6d7eb;
  padding: 0;
  overflow: auto;
}

#menu h4 {
  display: none;
}

#menu > ul {
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
}

#menu > ul > li {
  float: left;
}

#menu > ul > li:not(:first-child) {
  margin-left: -1px;
}

#menu > ul > li:not(:first-child) > a, #menu > ul > li:not(:first-child) > span {
  border-width: 0px;
  border-left: 1px solid #c6d7eb;
  border-image: linear-gradient(to bottom, transparent, transparent 15%, #c6d7eb 15%, #c6d7eb 85%, transparent 85%, transparent) 1;
}

#menu > ul li {
  list-style: none;
}

#menu > ul li span {
  color: #3b6daa;
}

#menu > ul li a:link, #menu > ul li a:visited, #menu > ul li span {
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 6px 20px;
  box-sizing: border-box;
  min-width: 80px;
  text-align: center;
}

#menu > ul li.active > a:link, #menu > ul li.active > a:visited {
  color: #b71f1c;
}

.no-touch #menu > ul li:hover, #menu > ul li.hover {
  background: #c6d7eb;
}

#menu > ul li ul {
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  position: absolute;
  transition-property: opacity, visibility;
  transition-duration: 0.25s, 0s;
  transition-delay: 0s, 0.5s;
  opacity: 0;
  visibility: hidden;
}

#menu > ul li ul li {
  float: none;
  background-color: #ecf0f9;
}

#menu > ul li ul li a:link, #menu > ul li ul li a:visited {
  width: auto;
  min-width: 100px;
  text-align: left;
  border-bottom: solid 1px #c6d7eb;
  border-top-width: 0px;
}

#menu > ul li ul li:hover {
  background-color: #c6d7eb;
}

#menu > ul li ul li:first-child a {
  border-top: solid 1px #c6d7eb;
}

#menu > ul li.sub > span:before {
  content: '\25BC\0020';
}

#menu > ul li.sub.active-child > span {
  color: #b71f1c;
}

.no-touch #menu > ul li.sub:hover ul, #menu > ul li.sub.hover ul {
  visibility: visible;
  transition-property: visiblity, opacity;
  transition-duration: 0s, 0.25s;
  transition-delay: 0s, 0s;
  opacity: 1;
}

#notice {
  border: solid 1px #3b6daa;
  padding: 2px 10px;
  background-color: #c6d7eb;
}

.cols {
  display: flex;
  flex-wrap: wrap;
  clear: both;
}

.cols > div {
  flex: 1 1 auto;
}

.front .cols {
  margin-top: 10px;
}

.front .cols.frontblocks {
  margin: 0 -5px;
}

.front .cols.frontblocks > div {
  flex: 1 0 20%;
  padding: 10px;
  background: #dfe8f5;
  margin: 10px 5px 0;
  overflow: auto;
  min-height: 200px;
  -webkit-overflow-scrolling: touch;
}

.front .cols.frontblocks > div .info {
  font-style: italic;
  font-size: 80%;
}

.front .cols.frontblocks > div .type {
  font-variant: small-caps;
}

.front .cols.frontblocks > div .time:before {
  content: " - ";
}

.front .cols.frontblocks > div.twitter {
  position: relative;
}

.front .cols.frontblocks > div.twitter iframe {
  position: absolute !important;
  width: calc(100% - 20px) !important;
  height: calc(100% - 20px) !important;
}

.front #mid {
  flex: 2;
  padding: 15px 25px 10px 5px;
  margin-right: 30px;
}

.front #search {
  display: none;
}

.front #right {
  background: #dfe8f5;
  padding: 10px;
  flex: 1;
}

.front #right .cols {
  margin-top: 0px;
}

.front #right .cols > div {
  white-space: nowrap;
  margin-right: 5px;
  display: inline-block;
}

.front #right input[type=submit] {
  width: 100%;
  box-sizing: border-box;
}

.collapsible:before {
  content: '\25B2\0020';
}

.collapsible.hidden:before {
  content: '\25BC\0020';
}

.collapsible:hover {
  color: #b71f1c;
  cursor: pointer;
}

.list #right {
  display: none;
}

.list #left {
  flex: 1;
  background-color: #dfe8f5;
  padding: 10px;
  min-width: 200px;
}

.list #left div.select {
  background-color: white;
  border: inset 1px white;
  max-height: 200px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.list #left div.select div {
  font-size: 9pt;
  line-height: 125%;
  padding: 0 2px;
  padding-left: 23px;
  text-indent: -20px;
}

.list #left div.select div:not(:last-child) {
  border-bottom: dotted 1px #c6d7eb;
}

.list #left div.select div.selected {
  background-color: #c6d7eb;
  border-bottom-color: white;
}

.list #left div.select div.selected:hover {
  background-color: #d9e4f2;
}

.list #left div.select div:hover {
  background-color: #ecf1f8;
  cursor: pointer;
}

.list #left h3 {
  display: none;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
  cursor: pointer;
}

.list #left h3:before {
  content: '\25BC\0020';
}

.list #left h3:hover {
  color: #b71f1c;
}

.list #mid {
  flex: 4;
  padding-left: 10px;
}

.list #mid .add {
  float: right;
}

.list.search #search {
  display: none;
}

.list.search tr td:first-child {
  font-variant: small-caps;
}

.list.dataset td:not(:first-child) {
  white-space: nowrap;
}

.project td:not(:nth-child(2)), .search td:not(:nth-child(2)) {
  white-space: nowrap;
}

.dataset td:not(:first-child) {
  white-space: nowrap;
}

.detail #mid, .page #mid, .contact #mid {
  flex: 2;
  min-height: 250px;
  padding-right: 10px;
  padding-left: 10px;
  order: 1;
}

.detail #right, .page #right, .contact #right {
  flex: 1;
  border-left: solid 1px #c6d7eb;
  background: none;
  padding-left: 10px;
  order: 2;
  max-width: 300px;
}

.detail #right ul, .page #right ul, .contact #right ul {
  margin-top: 0px;
  padding: 0px 15px;
}

.detail #left, .page #left, .contact #left {
  display: none;
}

.page #right, .contact #right {
  font-size: 90%;
}

.contact #right {
  max-width: none;
}

.contact #right h3 {
  display: none;
  margin: 0px;
  cursor: pointer;
}

.contact #right h3:before {
  content: '\25BC\0020';
}

.contact #right h3:hover {
  color: #b71f1c;
}

#footer {
  text-align: right;
  border-top: solid 1px #c6d7eb;
  margin-top: 10px;
  padding: 5px 0 0;
  font-size: 90%;
  overflow: auto;
}

#footer .links {
  float: left;
  margin-top: 16px;
}

#footer .rechts {
  float: right;
}

#footer img {
  max-height: 50px;
  max-width: 50px;
  margin: 0 2px;
}

#footer img.nioz {
  vertical-align: -16px;
}

#footer img.nwo {
  vertical-align: -2px;
}

#overlay {
  display: none;
  background: rgba(0, 0, 0, 0.75);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: 9999;
}

#overlay .inner {
  top: 10px;
  bottom: 10px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 80%;
  max-width: 1000px;
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

#overlay .inner.box {
  top: 20%;
  bottom: auto;
  max-width: 500px;
  padding: 10px;
  overflow-y: auto !important;
}

#overlay .inner iframe {
  width: 100%;
  height: 100%;
  border: none;
}

body:not(.no-touch) #overlay .inner {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.overlay .cols {
  border-bottom: solid 1px #c6d7eb;
  padding-bottom: 10px;
}

.overlay .cols div {
  padding: 0 10px 120px;
  flex: 1 1 30%;
  position: relative;
}

.overlay .cols div:not(:first-child) {
  border-left: solid 1px #c6d7eb;
}

.overlay .cols div button {
  width: 90%;
  width: calc(100% - 20px);
  height: 50px;
  position: absolute;
}

.overlay .cols div button.add {
  bottom: 60px;
}

.overlay .cols div button.edit {
  bottom: 0px;
}

.overlay .foot {
  padding: 10px;
  text-align: center;
}

.overlay .foot button {
  height: 50px;
}

#tools {
  float: right;
}

.printonly {
  display: none;
}

.edit .cols {
  display: block;
}

.edit.detail .cols, .edit.page .cols, .edit.contact .cols {
  display: flex;
}

.edit #mid .cols {
  display: flex;
}

.edit #left .line {
  border-bottom: solid 1px #3b6daa;
  margin-top: -1px;
}

.edit #left ul {
  list-style: none;
  padding: 0px;
  overflow: auto;
  margin-bottom: 0px;
  margin-left: 5px;
}

.edit #left ul li {
  float: left;
  margin-right: 5px;
}

.edit #left ul a {
  display: block;
  background: #c6d7eb;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  border: solid 1px #c6d7eb;
  border-bottom-width: 0px;
  margin-top: 2px;
  margin-bottom: 1px;
}

.edit #left ul a.disabled {
  color: #3b6daa;
  background-color: #dfe8f5;
}

.edit #left ul a.active {
  background: #f8f8fe;
  font-weight: bold;
  border-color: #3b6daa;
  border-bottom: solid 1px #f8f8fe;
  margin-bottom: 0px;
}

.edit .datefield {
  float: left;
  margin-right: 5px;
}

.edit .empty {
  clear: both;
}

.edit .multivalue:not(.noAdd) tbody tr:last-child td:nth-child(2) {
  display: none;
}

.edit .multivalue:not(.noAdd) tbody tr:last-child td:nth-child(3) {
  cursor: pointer;
}

.edit .multivalue:not(.noAdd) tbody tr:not(:last-child) td:nth-child(3) {
  display: none;
}

.edit .multivalue.noAdd td:last-child {
  width: 225px;
}

.edit .lookuptable thead tr:nth-child(n+2), .edit .multivalue thead tr:nth-child(n+2) {
  color: black;
  font-weight: normal;
}

.edit .lookuptable thead tr:nth-child(n+2):last-child, .edit .multivalue thead tr:nth-child(n+2):last-child {
  border-bottom: solid 2px #3b6daa;
}

.edit .lookuptable:not(.single) tbody tr:last-child td:nth-child(-n+2), .edit .multivalue:not(.single) tbody tr:last-child td:nth-child(-n+2) {
  color: transparent;
  cursor: default;
}

.edit .lookuptable:not(.single) tbody td, .edit .multivalue:not(.single) tbody td {
  text-align: center;
}

.edit .lookuptable:not(.single) tbody td:nth-child(-n+2), .edit .multivalue:not(.single) tbody td:nth-child(-n+2) {
  width: 20px;
  cursor: pointer;
  border-right: solid 1px #e3ebf5;
}

.edit .lookuptable:not(.single) tbody td:first-child, .edit .multivalue:not(.single) tbody td:first-child {
  cursor: move;
}

.edit .lookuptable td.lookupwrapper, .edit .multivalue td.lookupwrapper {
  position: relative;
}

.edit .lookuptable td.lookupwrapper .options, .edit .multivalue td.lookupwrapper .options {
  font-size: 10pt;
  position: absolute;
  width: 100%;
  width: calc(100% - 6px);
  max-height: 500px;
  overflow-y: auto;
  background-color: white;
  text-align: left;
  box-sizing: border-box;
  box-shadow: 0px 15px 20px -10px black;
  z-index: 9998;
}

.edit .lookuptable td.lookupwrapper .options div, .edit .multivalue td.lookupwrapper .options div {
  padding: 2px 5px;
  border: solid 1px #c6d7eb;
  border-top: none;
}

.edit .lookuptable td.lookupwrapper .options div[id].optionHasFocus, .edit .multivalue td.lookupwrapper .options div[id].optionHasFocus {
  background-color: #3b6daa;
  color: white;
  cursor: pointer;
}

.edit .lookuptable td.lookupwrapper .options div.hidden, .edit .multivalue td.lookupwrapper .options div.hidden {
  display: none;
}

.edit .lookuptable td.lookupwrapper .options div.notSelected, .edit .multivalue td.lookupwrapper .options div.notSelected {
  color: silver;
}

.edit .lookuptable td.lookupwrapper .options div.clicked, .edit .multivalue td.lookupwrapper .options div.clicked {
  font-weight: bold;
}

.edit .lookuptable td.lookupwrapper .options.above, .edit .multivalue td.lookupwrapper .options.above {
  box-shadow: 0px -5px 20px 0px black;
  position: absolute;
  border-bottom: solid 1px #c6d7eb;
}

.edit .multitext .values span {
  background-color: #c6d7eb;
  padding: 5px;
  padding-right: 0px;
  border-radius: 5px;
  white-space: nowrap;
  margin-bottom: 5px;
  margin-right: 5px;
  display: block;
  float: left;
}

.edit .multitext .values span.delete {
  display: inline;
  float: none;
  padding-right: 5px;
  padding-left: 10px;
  color: #b71f1c;
  font-weight: bold;
  cursor: pointer;
}

.edit .multitext input, .edit .multitext button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.edit .multitext input[type=text] {
  border-right-width: 52px;
}

.edit .multitext button {
  width: 50px;
  margin-left: -51px;
  margin-top: 1px;
  border: none;
  height: 26px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.edit .suggestions {
  list-style: none;
  padding: 0px;
  font-size: 80%;
  margin-top: 0px;
}

.edit .suggestions li {
  border: solid 1px #c6d7eb;
  border-top-width: 0px;
  background: #fcfcff;
  padding: 5px;
  cursor: pointer;
}

.edit .suggestions li:first-child {
  background: #3b6daa;
  color: white;
  font-weight: bold;
  border-color: #3b6daa;
  font-style: italic;
}

.edit .suggestions li:not(:first-child):hover {
  background-color: #dfe8f5;
}

#statusChanges > div {
  border-bottom: solid 1px #3b6daa;
  font-weight: bold;
  font-size: 80%;
}

#statusChanges > div > div {
  font-weight: normal;
}

#statusChanges span {
  font-size: 80%;
  font-style: italic;
  display: block;
}

#statusChanges span:not(.noChanges) {
  cursor: pointer;
}

#statusChanges span span:first-child:before {
  content: '\25BC';
}

#statusChanges span span:last-child:before {
  content: '\25B2';
}

#statusChanges:not(.all) span span:last-child {
  display: none;
}

#statusChanges:not(.all) div:not(:first-child) {
  display: none;
}

#statusChanges.all span span:first-child {
  display: none;
}

input, button, textarea, select:not([multiple]) {
  height: 28px;
  box-sizing: border-box;
  margin: 0px;
  border-radius: 2px;
  -webkit-appearance: none;
  border: solid 1px #c6d7eb;
  outline: none;
  font-family: inherit;
  font-size: 14px;
}

input:focus, input:hover:not(:disabled), button:focus, button:hover:not(:disabled), textarea:focus, textarea:hover:not(:disabled), select:not([multiple]):focus, select:not([multiple]):hover:not(:disabled) {
  border-color: #3b6daa;
}

textarea {
  height: auto;
  resize: vertical;
  vertical-align: top;
}

input[type=submit], input[type=reset], button {
  cursor: pointer;
  background-color: #3b6daa;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  font-weight: bold;
  border-color: #3b6daa;
}

input[type=submit]:disabled, input[type=submit].disabled, input[type=reset]:disabled, input[type=reset].disabled, button:disabled, button.disabled {
  background-color: #dfe8f5;
  border-color: #c6d7eb;
  color: #c6d7eb;
}

input[type=submit]:hover, input[type=reset]:hover, button:hover {
  color: #c6d7eb;
}

input[type=submit]:active, input[type=reset]:active, button:active {
  border-color: #c6d7eb;
}

input[type=text], input[type=password], input[type=file], textarea, select {
  background-color: white;
  width: 100%;
  padding-left: 3px;
}

input[type=text][readonly=readonly], input[type=text]:disabled, input[type=password][readonly=readonly], input[type=password]:disabled, input[type=file][readonly=readonly], input[type=file]:disabled, textarea[readonly=readonly], textarea:disabled, select[readonly=readonly], select:disabled {
  background-color: #dfe8f5;
}

.select2-results__option[aria-selected=true] {
  font-weight: bold;
}

select:not([multiple]), .select2-selection--multiple {
  background: url("../img/select.png") right 5px center no-repeat white;
  padding-right: 20px;
  padding-left: 1px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  background: url("../img/checkbox.png") no-repeat left center;
  padding-left: 20px;
  cursor: pointer;
}

input[type=checkbox] + label:hover, td:hover input[type=checkbox] + label {
  background-image: url("../img/checkbox-hover.png");
}

input[type=checkbox]:not(:disabled):checked + label {
  background-image: url("../img/checkbox-checked.png");
}

input[type=checkbox]:not(:disabled):checked + label:hover, td:hover input[type=checkbox]:not(:disabled):checked + label {
  background-image: url("../img/checkbox-checked-hover.png");
}

input[type=checkbox]:disabled + label {
  background-image: url("../img/checkbox-disabled.png");
}

input[type=checkbox]:disabled + label:hover, td:hover input[type=checkbox]:disabled + label {
  background-image: url("../img/checkbox-disabled-hover.png");
}

input[type=checkbox]:disabled:checked + label {
  background-image: url("../img/checkbox-checked-disabled.png");
}

input[type=checkbox]:disabled:checked + label:hover, td:hover input[type=checkbox]:disabled:checked + label {
  background-image: url("../img/checkbox-checked-disabled-hover.png");
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  background: url("../img/radio.png") no-repeat left center;
  padding-left: 20px;
}

input[type=radio] + label:hover, td:hover input[type=radio] + label {
  background-image: url("../img/radio-hover.png");
}

input[type=radio]:not(:disabled):checked + label {
  background-image: url("../img/radio-checked.png");
}

input[type=radio]:not(:disabled):checked + label:hover, td:hover input[type=radio]:not(:disabled):checked + label {
  background-image: url("../img/radio-checked-hover.png");
}

input[type=radio]:disabled + label {
  background-image: url("../img/radio-disabled.png");
}

input[type=radio]:disabled + label:hover, td:hover input[type=radio]:disabled + label {
  background-image: url("../img/radio-disabled-hover.png");
}

input[type=radio]:disabled:checked + label {
  background-image: url("../img/radio-checked-disabled.png");
}

input[type=radio]:disabled:checked + label:hover, td:hover input[type=radio]:disabled:checked + label {
  background-image: url("../img/radio-checked-disabled-hover.png");
}

input.readablepassword {
  border-right-width: 100px;
}

button.readablepassword {
  width: 98px;
  margin-left: -99px;
  margin-top: 1px;
  border: none;
  height: 26px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

select {
  padding-left: initial;
}

option {
  border-bottom: dashed 1px #c6d7eb;
  white-space: normal;
  padding-left: 23px;
  text-indent: -20px;
}

fieldset {
  clear: both;
  margin: 0px;
  margin-top: 5px;
  border: solid 1px #c6d7eb;
  border-radius: 3px;
}

fieldset.error {
  border-color: red;
}

fieldset.error > legend {
  color: red;
}

fieldset.new {
  border-style: dashed;
}

.datefield .sublabel {
  display: inline-block;
  width: 40px;
}

.datefield .sublabel:after {
  content: ': ';
}

.datefield input[type=text] {
  width: auto;
  width: 100px;
}

.label, legend {
  font-weight: bold;
  display: block;
  margin-top: 5px;
  clear: both;
}

.label:after, legend:after {
  content: ':';
}

.label.empty:after, legend.empty:after {
  content: '';
}

.hint {
  font-size: 90%;
  font-style: italic;
  display: block;
}

.hint.inline {
  margin-left: 5px;
}

.hint a:link {
  display: initial;
  text-decoration: underline;
}

.counter {
  font-size: 80%;
  font-style: italic;
}

#adminoverrule {
  border: solid 1px #d88c8d;
  padding: 5px 10px;
}

.errors {
  border: solid 2px #b71f1c;
  color: #b71f1c;
  padding: 2px;
  margin-bottom: 5px;
}

.map {
  margin-top: 5px;
}

.map .hint {
  display: block;
}

.map .label {
  width: 200px;
  display: inline-block;
}

.map select, .map input[type=text] {
  max-width: calc(100% - 200px);
  margin-bottom: 3px;
}

.map select.number_with_unit, .map input[type=text].number_with_unit {
  max-width: calc(100% - 305px);
}

.map > div:not(.mapContainer) {
  max-width: calc(100% - 310px);
}

.map div.cols {
  display: inline-flex;
  width: calc(100% - 200px);
  clear: none;
}

.map .mapContainer {
  margin-left: 10px;
  width: 300px;
  height: 300px;
  border: solid 1px #c6d7eb;
  float: right;
  box-sizing: border-box;
}

input.number_with_unit {
  max-width: calc(100% - 105px);
}

select.number_with_unit {
  margin-left: 5px;
  padding-left: 10px;
  width: 100px;
}

form > fieldset fieldset {
  margin-right: 25px;
}

form > fieldset .btn_add {
  margin-right: 25px;
}

.btn_add {
  float: right;
  margin-bottom: 10px;
  margin-top: 5px;
}

.btn_delete {
  float: right;
  margin-top: -30px;
  margin-bottom: 5px;
  background-color: #b71f1c;
}

hr.afterbutton {
  clear: both;
  margin-bottom: 10px;
  border: 0;
  height: 1px;
  background-color: #3b6daa;
}

span.error {
  color: red;
}

:not(.select2) span.error:not(.label) {
  font-style: italic;
  font-weight: bold;
  font-size: 90%;
}

.select2 :not(.select2) span.error:not(.label) {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  border-color: red;
  border-width: 2px;
}

.select2 :not(.select2) span.error:not(.label) .select2-selection__placeholder {
  font-weight: bold;
  color: #f66;
}

div.error.head {
  color: red;
  font-weight: bold;
  clear: left;
}

input.error, textarea.error, select.error {
  border-color: red;
  border-width: 2px;
}
